bmesens/.vscode
bmepy/__pycache__
bmepy/downloads/
bmepy/logs/
bmepy/VENV

*.exe

bmepy/build/app/

bmepy/dist/app/

bmepy/\.idea/

bmepy/dist/

bmepy/server/__pycache__/

bmepy/server/logs/

backend/venv/

backend/server/__pycache__/

backend/dist/

backend/server/logs/

backend/__pycache__/

bmepy/

backend/\.idea/

sensor_simulator/venv/

sensor_simulator/\.idea/

backend/server/device/connectors/modbus_rtu_temp_hum/__pycache__/

backend/server/front/assets/
backend/.vscode/
bemsens/.vscode/
backend/server/config\.json

\.vscode/
