click==6.7
enum-compat==0.0.2
Flask==0.12.2
gevent==1.2.2
greenlet==0.4.13
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
netifaces==0.10.6
passlib==1.7.1
six==1.11.0
waitress==1.1.0
Werkzeug==0.14.1
zeroconf==0.19.1
